html {
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: inherit;
	margin: inherit;
	padding: inherit;
}

#play {
	color: #ccc;
	font-size: 4rem;
	background-color: transparent;
	border: none;
	width: 8rem;
	height: 8rem;

	position: fixed;
	top: calc(50vh - 4rem);
	left: calc(50vw - 4rem);
	z-index: 1;
}
